# Игнорируем скрытые файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Кеши и временные файлы
*.swp
*~
._*
.Spotlight-V100
.Trashes

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
